/* Animation Appointment */
.book {
    text-align: center;
    padding-top: 1.5vh;
    padding-bottom: 5vh;
    position: relative;

    width: 50vw;
    height: 16vh;
    border: 5px solid var(--border-color);
    border-radius: 10px;
    z-index: 3;
    background-color: var(--background-color);
    transform: translateY(50%);
}

.appointment-title {
    text-align: center;
    font-size: 36px;
}

.appointment-flex {
    width: 100%;
    height: calc(100vh - 60px);
    background-color: var(--background-color);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    z-index: 2;
}

.appointment-h1 {
    padding-top: 3%;
    text-align: center;
    color: var(--h1-text);
}

.appointment-description {
    text-align: center;
    color: var(--text-color);
}
    
    .appointment-h1, .about-h1 {
        color: var(--text-color);
    }

    .appointment-description, .about-description {
        color: var(--text-color); 
    }

    .appointmentButton {
        background-color: var(--site-color-01);
        border: 2px solid var(--border-color);
        color: var(--text-color);
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 8px;
    }

    .appointmentButton:hover {
        background-color: var(--site-color-01-hover);
    }
