/* Animation Appointment */

.animated-section {
    background-color: var(--background-color); /* Beige background color */
    height: 90vh;
    width: 100%;
    margin-bottom: 0.2%;
    justify-content: space-evenly;
    display: flex;
}

.appointment-flex {
    width: 100%;
    height: calc(100vh - 60px);
    background-color: var(--background-color);
    /* background-image: url(../img/dental_tools.jpg);  */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    z-index: 2;
}

.appointment-h1 {
    padding-top: 3%;
    text-align: center;
    color: var(--h1-text);
}

.appointment-description {
    text-align: center;
    color: var(--text-color);
    margin-bottom: 30px;
}

    .animated-section-right {
        height: 100%;
        width: 50%;
        background: linear-gradient(to bottom right, var(--site-color-02), var(--site-color-01)); /* Gradient background with maroon brown to beige */
        transition: all 0.3s ease-in-out; 
    }

    .animated-section-left {
        height: 100%;
        width: 50%;
        background: linear-gradient(to bottom left, var(--site-color-02-hover), var(--site-color-01)); 
        transition: all 0.3s ease-in-out;
    }

    .animated-section-left:hover {
        height: 100%;
        width: 90%;
        border-radius: 0 10% 10% 0;
        background-color: var(--site-color-02); 
        transition: all 0.3s ease-in-out; 
    }
    
    .animated-section-left:hover + .animated-section-right {
        border-radius: 10% 0 0 10%; 
        transition: all 0.3s ease-in-out; 
    }
    
    .appointment-h1, .about-h1 {
        color: var(--text-color); /* Dark text color */
    }

    .appointment-description, .about-description {
        color: var(--text-color); /* Medium text color */
    }

    .appointmentButton {
        background-color: var(--site-color-01); /* Dusty rose button color */
        color: var(--text-color); /* Button text color */
        border: none;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 8px;
    }

    .appointmentButton:hover {
        background-color: var(--site-color-01-hover); /* Darker dusty rose color on hover */
    }
