.map {
    height: calc(100vh - 30%);
    width: 100%;
    position: relative; /* Establishes a positioning context for the absolute child */
    padding-bottom: 5%;
}

.google-map {
    height: 60%;
    width: 60%;
    max-width: 100%; /* Ensure it does not overflow the parent */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Center the map */
}