/* Styles for the service section */
.service {
    display: flex;
    justify-content: center;
    align-items: center;
}

.service div {
    border: 5px solid var(--border-color);
    margin: 20px;
    display: flex;
    flex-direction: column;
    height: 300px; 
    width: 300px; 
    background-color: #f8f9fa; 
    border-radius: 15px; 
    overflow: hidden; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.service div:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
}

.service h2 {
    margin: 20px 0;
    color: #007bff;
    font-size: 1.5rem; 
    text-align: center;
}

.service p,
.service ul {
    padding: 0 20px; 
    text-align: center;
}

.service .our-service {
    background-color: #cce5ff;
}

.service .care {
    background-color: #d4edda;
}

.service .restore {
    background-color: #f8d7da;
}

.service .our-service:hover,
.service .care:hover,
.service .restore:hover {
    opacity: 0.8;
}